@font-face {
    font-family: "HSBCIcon-Font";
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/HSBCIcon-Font.ttf') format('truetype'),
        url('../fonts/HSBCIcon-Font.eot') format('embedded-opentype'),
        url('../fonts/HSBCIcon-Font.ttf') format('woff'),
        url('../fonts/HSBCIcon-Font.svg') format('svg');
}

.hsbc-icon {
    font-family: "HSBCIcon-Font";
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    vertical-align: middle;
    text-decoration: inherit;
    text-transform: none;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Icons */
.hsbc-icon-accounts:before {
    content: "\f021";
}

.hsbc-icon-add:before {
    content: "\f031";
}


.hsbc-icon-agree:before {
    content: "\f00a";
}

.hsbc-icon-alert:before {
    content: "\f017";
}

.hsbc-icon-anchor-down:before {
    content: "\f075";
}

.hsbc-icon-anchor-up:before {
    content: "\f07b";
}

.hsbc-icon-articles:before {
    content: "\f01d";
}

.hsbc-icon-assets:before {
    content: "\f042";
}

.hsbc-icon-attachment:before {
    content: "\e060";
}

.hsbc-icon-back:before {
    content: "\f062";
}

.hsbc-icon-banking:before {
    content: "\f008";
}

.hsbc-icon-barcode:before {
    content: "\f061";
}

.hsbc-icon-bin:before {
    content: "\f065";
}

.hsbc-icon-borrowing:before {
    content: "\f084";
}

.hsbc-icon-calendar:before {
    content: "\f028";
}

.hsbc-icon-camera:before {
    content: "\f04a";
}

.hsbc-icon-chat:before {
    content: "\f016";
}

.hsbc-icon-chevron-double-left:before {
    content: "\e000";
}

.hsbc-icon-chevron-double-right:before {
    content: "\e002";
}

.hsbc-icon-chevron-down-small:before {
    content: "\e003";
}

.hsbc-icon-chevron-down:before {
    content: "\f055";
}

.hsbc-icon-chevron-left-small:before {
    content: "\e004";
}

.hsbc-icon-chevron-left:before {
    content: "\f058";
}

.hsbc-icon-chevron-right-small:before {
    content: "\e005";
}

.hsbc-icon-chevron-right:before {
    content: "\f057";
}

.hsbc-icon-chevron-up-small:before {
    content: "\e006";
}

.hsbc-icon-chevron-up:before {
    content: "\f056";
}

.hsbc-icon-circle-confirmation-solid:before {
    content: "\e008";
}

.hsbc-icon-circle-confirmation:before {
    content: "\f054";
}

.hsbc-icon-circle-delete-solid:before {
    content: "\e007";
}

.hsbc-icon-circle-delete:before {
    content: "\f067";
}

.hsbc-icon-circle-error-solid:before {
    content: "\e009";
}

.hsbc-icon-circle-error:before {
    content: "\f052";
}

.hsbc-icon-circle-fill-information:before {
    content: "\f073";
}

.hsbc-icon-circle-help-solid:before {
    content: "\e010";
}

.hsbc-icon-circle-help:before {
    content: "\f060";
}

.hsbc-icon-circle-info:before {
    content: "\f053";
}

.hsbc-icon-client-download:before {
    content: "\f04e";
}

.hsbc-icon-client-upload:before {
    content: "\f04d";
}

.hsbc-icon-clock:before {
    content: "\f029";
}

.hsbc-icon-collapse:before {
    content: "\e011";
}

.hsbc-icon-column-view:before {
    content: "\e012";
}

.hsbc-icon-complaints:before {
    content: "\e013";
}

.hsbc-icon-compose:before {
    content: "\e061";
}

.hsbc-icon-confidential:before {
    content: "\f050";
}

.hsbc-icon-contactless-payments-outline:before {
    content: "\e015";
}

.hsbc-icon-contactless-payments:before {
    content: "\e014";
}

.hsbc-icon-copy:before {
    content: "\e016";
}

.hsbc-icon-corporate:before {
    content: "\f083";
}

.hsbc-icon-dashboard:before {
    content: "\f044";
}

.hsbc-icon-delete-small:before {
    content: "\e017";
}

.hsbc-icon-delete:before {
    content: "\f002";
}

.hsbc-icon-desktop-computer:before {
    content: "\e018";
}

.hsbc-icon-devices:before {
    content: "\f033";
}

.hsbc-icon-dial:before {
    content: "\e019";
}

.hsbc-icon-dining-food:before {
    content: "\f101";
}

.hsbc-icon-do-not-view:before {
    content: "\e020";
}

.hsbc-icon-document:before {
    content: "\e021";
}

.hsbc-icon-dollar-bill:before {
    content: "\e022";
}

.hsbc-icon-download:before {
    content: "\f000";
}

.hsbc-icon-edit:before {
    content: "\f001";
}

.hsbc-icon-education:before {
    content: "\f03e";
}

.hsbc-icon-error:before {
    content: "\f01a";
}

.hsbc-icon-expand:before {
    content: "\f025";
}

.hsbc-icon-export:before {
    content: "\e024";
}

.hsbc-icon-facebook-solid:before {
    content: "\e025";
}

.hsbc-icon-facebook:before {
    content: "\e026";
}

.hsbc-icon-fast-track:before {
    content: "\f018";
}

.hsbc-icon-favourite:before {
    content: "\f013";
}

.hsbc-icon-filter:before {
    content: "\e027";
}

.hsbc-icon-global:before {
    content: "\f037";
}

.hsbc-icon-googleplus-solid:before {
    content: "\e028";
}

.hsbc-icon-googleplus:before {
    content: "\e029";
}

.hsbc-icon-grid-view:before {
    content: "\e030";
}

.hsbc-icon-health:before {
    content: "\f079";
}

.hsbc-icon-help:before {
    content: "\f012";
}

.hsbc-icon-home:before {
    content: "\f011";
}

.hsbc-icon-in-branch:before {
    content: "\f03a";
}

.hsbc-icon-insight:before {
    content: "\f038";
}

.hsbc-icon-insurance:before {
    content: "\f02b";
}

.hsbc-icon-intranet:before {
    content: "\e031";
}

.hsbc-icon-investment:before {
    content: "\f024";
}

.hsbc-icon-link:before {
    content: "\e032";
}

.hsbc-icon-linkedin-solid:before {
    content: "\e033";
}

.hsbc-icon-linkedin:before {
    content: "\e034";
}

.hsbc-icon-list:before {
    content: "\f030";
}

.hsbc-icon-location:before {
    content: "\f019";
}

.hsbc-icon-market:before {
    content: "\f02e";
}

.hsbc-icon-memo:before {
    content: "\e035";
}

.hsbc-icon-menu:before {
    content: "\f00b";
}

.hsbc-icon-message:before {
    content: "\f006";
}

.hsbc-icon-microphone:before {
    content: "\e036";
}

.hsbc-icon-minimize:before {
    content: "\f07c";
}

.hsbc-icon-mobile:before {
    content: "\f032";
}

.hsbc-icon-more-vertical:before {
    content: "\e037";
}

.hsbc-icon-more:before {
    content: "\f070";
}

.hsbc-icon-multiple-accounts:before {
    content: "\e038";
}

.hsbc-icon-multiple-users:before {
    content: "\f043";
}

.hsbc-icon-new-window:before {
    content: "\e039";
}

.hsbc-icon-newspaper:before {
    content: "\f051";
}

.hsbc-icon-pay:before {
    content: "\f009";
}

.hsbc-icon-pdf:before {
    content: "\e062";
}

.hsbc-icon-phone:before {
    content: "\f005";
}

.hsbc-icon-pie-chart:before {
    content: "\f039";
}

.hsbc-icon-pin:before {
    content: "\f045";
}

.hsbc-icon-play:before {
    content: "\e040";
}

.hsbc-icon-pop-up-window:before {
    content: "\e041";
}

.hsbc-icon-portfolio:before {
    content: "\f03c";
}

.hsbc-icon-presentation:before {
    content: "\f03b";
}

.hsbc-icon-print:before {
    content: "\f004";
}

.hsbc-icon-products-services:before {
    content: "\f027";
}

.hsbc-icon-quote-close:before {
    content: "\e042";
}

.hsbc-icon-quote-open:before {
    content: "\e043";
}

.hsbc-icon-rates:before {
    content: "\f02f";
}

.hsbc-icon-refresh:before {
    content: "\f010";
}

.hsbc-icon-renew:before {
    content: "\e044";
}

.hsbc-icon-reply:before {
    content: "\f034";
}

.hsbc-icon-report:before {
    content: "\f041";
}

.hsbc-icon-rewards:before {
    content: "\f026";
}

.hsbc-icon-save:before {
    content: "\f04b";
}

.hsbc-icon-savings-goals:before {
    content: "\e045";
}

.hsbc-icon-savings:before {
    content: "\e046";
}

.hsbc-icon-script:before {
    content: "\e047";
}

.hsbc-icon-search:before {
    content: "\f007";
}

.hsbc-icon-secure-key-passcode:before {
    content: "\e048";
}

.hsbc-icon-security-lock:before {
    content: "\f02a";
}

.hsbc-icon-settings:before {
    content: "\f02d";
}

.hsbc-icon-share:before {
    content: "\f022";
}

.hsbc-icon-shopping-cart:before {
    content: "\f082";
}

.hsbc-icon-shortcuts:before {
    content: "\e049";
}

.hsbc-icon-signature:before {
    content: "\e050";
}

.hsbc-icon-sound:before {
    content: "\e051";
}

.hsbc-icon-stock-down:before {
    content: "\f072";
}

.hsbc-icon-stock-up:before {
    content: "\f071";
}

.hsbc-icon-survey:before {
    content: "\f04c";
}

.hsbc-icon-switch:before {
    content: "\f00e";
}

.hsbc-icon-tablet:before {
    content: "\f064";
}

.hsbc-icon-tasks:before {
    content: "\f047";
}

.hsbc-icon-tools:before {
    content: "\f01e";
}

.hsbc-icon-transfers:before {
    content: "\f00d";
}

.hsbc-icon-travel:before {
    content: "\f078";
}

.hsbc-icon-twitter-solid:before {
    content: "\e052";
}

.hsbc-icon-twitter:before {
    content: "\e053";
}

.hsbc-icon-upload:before {
    content: "\f066";
}

.hsbc-icon-user-personal:before {
    content: "\f102";
}

.hsbc-icon-video:before {
    content: "\f015";
}

.hsbc-icon-view-all:before {
    content: "\f00c";
}

.hsbc-icon-view:before {
    content: "\e063";
}

.hsbc-icon-vimeo-solid:before {
    content: "\e054";
}

.hsbc-icon-vimeo:before {
    content: "\e055";
}

.hsbc-icon-weibo-solid:before {
    content: "\e056";
}

.hsbc-icon-weibo:before {
    content: "\e057";
}

.hsbc-icon-youtube-solid:before {
    content: "\e058";
}

.hsbc-icon-youtube:before {
    content: "\e059";
}
