@font-face {
    font-family: 'UniversNext';
    src: url('../fonts/UniversNext/UniversNextforHSBCW01-Bd.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'UniversNext';
    src: url('../fonts/UniversNext/UniversNextforHSBCW01-Rg.ttf') format('truetype'),
        url('../fonts/UniversNext/UniversNextforHSBCW01-Rg.eot') format('embedded-opentype'),
        url('../fonts/UniversNext/UniversNextforHSBCW01-Rg.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'UniversNext';
    src: url('../fonts/UniversNext/UniversNextforHSBCW01-Md.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'UniversNext';
    src: url('../fonts/UniversNext/UniversNextforHSBCW01-Lt.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

* {
    font-family: 'UniversNext';
}
